nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  border-bottom: 1px solid lightgray;
}

.header {
  align-items: center;
  gap: 10px;
}

.navlinks {
  display: flex;
  gap: 14px;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: black;
}

.navlinks a.active {
  text-decoration: underline;
  color: blue;
}