nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  border-bottom: 1px solid lightgray;
}
nav img {
  width: 50px;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navlinks {
  display: flex;
  gap: 14px;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: #157ffb;
}

.navlinks a.active {
  text-decoration: underline;
  color: #1361bb;
}

.header h1 {
  font-size: 30px;
}

.navlinks a:last-child {
  border-left:  2px solid black;
  padding-left: 16px;
}
